.gallery {
    margin: 50px 50px 50px 50px;
    padding: 15px 10px 15px 10px;
    max-width: 1050px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

#myBtnContainer {
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */

    display:flex; 
    justify-content: center; 
    background-color: rgb(224, 207, 207); 
    padding: 10px; 
    border: 3px solid #000000; 
    border-radius: 8px;
}

.gallery img {
    transition: 0.1s;
    background-color: rgb(26, 16, 2);
    padding: 15px;
    margin: 2px;
    width:200px;
}

.gallery img:hover {
    filter: contrast(200%);
    transform: scale(1.1);
}
  
.content {
    background-color: white;
  }

  .row {
    background-color: aliceblue;
  }
  
  /* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 10px 0px;
  }

  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    align-content: center;
    justify-content: center;
    width: 25%;
    display: none; /* Hide all elements by default */
  }
  
  /* Clear floats after rows */ 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The "show" class is added to the filtered elements */
  .show {
    display: block;
  }
  
  /* Style the buttons */
  /*
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    width: 1fr;
    background-color: white;
    cursor: pointer;
  }
  */

.btn {
    color: white;
    cursor: pointer;
    display: block;
    padding: 10px;
    margin: 10px 10px;
    font-size:10px;
    font-weight: 400;
    line-height: 15px;
    max-width: 160px; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%; 
    @media(min-width: 600px) {
        margin: 0 1em 2em;
    }
}

.btn-5 {
    background-color: rgb(198, 90, 74);
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
} 
  
.btn-5:hover {
    border: 1px solid;
    border-color: black;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388; 
}

  .btn.active {
    background-color: #666;
    color: white;
  }