:root {
    --color1 : 0, 0, 0;
    --color2 : 255, 255, 255;
    --color3 : 41, 50, 65;
    --color4 : 135, 34, 96;
    --color5 : 218, 165, 32;
}

body {
    display: grid;
    color:aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(var(--color3), 1.0);
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-areas:
    ". wrapper .";

}

.taggedImg {
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 250px 30px;
    flex: 0 1 200px;
    padding:10px;
    grid-row-gap: 5px;
    grid-template-areas: 
    "image"
    ".";
}

.image  {
    flex: 0 1 200px;
    max-width: 250px;
    max-height: 250px;
    padding: 10px;
    background-color: rgba(var(--color1), 0.8);
    
}

.text {
    flex-wrap: wrap;
    color: black;
    flex: 4 1 200px;
    padding: 10px;
}

.slat {
    display: flex;
    flex-wrap: wrap;
    background-color: inherit;
    padding: 20px 10px 10px 10px;
}

.bio {
    grid-area: bio;
    background-color: rgba(var(--color2), 1.0);
    margin: 20px 0px;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.footer {
    color: rgba(var(--color2), 0.8);
    background-color: rgba(var(--color1), 0.5);
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas:
        ". disclaimer at";
}

.disclaimer, .at {
    font-size: 10px;
    
}

.disclaimer {
    grid-area: disclaimer;
    text-align: center;
}

.at {
    margin-right: 10px;
    grid-area: at;
    text-align: right;
}

.header {
    background-color: rgba(var(--color1), 0.5);
    color: rgba(var(--color2), 0.8);
    padding: 20px;
    margin-bottom: 10px;
    text-align: left;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 60px 50px;
    grid-template-areas: 
    "pic ."
    "pic tit";
}

.header a {
    display: inline-block;
}

#pic{
  grid-area: pic;
  background-color: rgba(var(--color3), 1.0);  
  padding: 10px;
  align-self: center;
}

#tit {
    grid-area: tit;
    display:flex;
    font-size: 32px;
}

.navbar a.icon {
    text-decoration: none; 
    float: right; 
}

.navbar {
    overflow: hidden;
    background-color: rgba(var(--color1), 0.5);
}

.nav-wrapper {
    height: 50px;
    margin-bottom: 20px;
}

.bordered {
    border:1px solid rgba(var(--color2), 0.8);
    border-radius: 0 0 4px 4px;
}

.navbar a {
    float: left;
    font-size: 17px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    height: 20px;
}
.navbar a.active{
    background-color: rgba(var(--color1), 0.5);
    color:white;
 }

 a:visited {
    color: inherit;
}
/*
.navbar a.active:hover{
    background-color: goldenrod;
}
*/

/*
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 17px;
    text-align: left;
    width: 160px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
*/
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgba(var(--color5), 1.0);
    color: white;
    cursor: pointer;
}

.wrapper {
    grid-area: wrapper;
}

.sticky {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 89.5%;
}

#cover-style {
    grid-area: coverstyle;
    text-align: center;
    display:flex;
    background-color: rgba(var(--color2), 0.8);
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

.cover-binder {
    display: flex;
    justify-content: center;
}

.section-style {
    margin: 20px 25px;
    align-content: center;
    max-width: 100%;
    height: 630px;
    flex: 50%;
    filter: sepia(50%);
    background-color: rgba(var(--color4), 1.0);
}

.homeImage {
    margin: 10px;
    padding: 5px;
    width: 600px;
    height: 600px;
    align-self: center;
    background-color: rgba(var(--color1), 0.5);
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

@import "https://fonts.googleapis.com/css?family=Raleway";

#contact { 
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  margin: 4em auto;
  width: 200px; 
  height: 30px; 
  line-height: 30px;
  background: rgb(var(--color4));
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
  text-transform: uppercase; 
  font-size: 11px; 
  border:0px solid #000000;
  border-radius: 4px 4px 4px 4px;
}

#contact:hover { background: #666; }
#contact:active { background: #444; }

#contactForm { 
  display: none;
  border: 6px solid salmon; 
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  z-index: 99;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
}

input, textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  
  display: block; 
  width: 280px; 
  padding: .4em;
}
textarea { height: 80px; resize: none; }

.formBtn { 
  width: 140px;
  display: inline-block;
  text-transform: uppercase; 
  
  background: rgb(var(--color4));
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 50px;
}
