body {
    color:aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #751b2a
}

.grid-bio {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 100px 500px 100px;
    grid-template-areas:
    ". top top ."
    ". content content ."
    ". bottom bottom . ";
    
}

.grid-gallery {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas:
    ". top content ."
    ". content content ."
    ". bottom bottom . ";
    
}
/*
.grid div:nth-child(even) {
    background-color: rgb(0, 238, 255);
}

.grid div:nth-child(odd) {
    background-color: purple;
}
*/

.top {
    display: grid;
    grid-template-columns: 1fr 500px 500px 1fr;
    grid-area: top;
    background-color: rgb(94, 47, 47);
}

.bottom {
    grid-area: bottom;
    background-color: rgb(94, 47, 47);
}

.content {
    display: grid;
    grid-area: content;
    color: black;
    background-color: white;
}

.header {
    text-align: center;
}

.text-box {
    text-align: center;
    width: 600px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.insta-style {
    text-align: right;
}

.image-section {
    /* sets image display settings/presentation (each row) */
    margin-top: 20px;
    margin-bottom: 20px;
    display:flex;
    justify-content: center;
    background-color: aliceblue;
}

.section-style {
    /*sets the details for each individual image (or section in row) */
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 25px;
    margin-left: 25px;
    background-color: rgb(126, 51, 97);
}

.cover-style {
    height: 500px;
    background-color: aliceblue;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.sideBar {
    display:inline;
    background-color: aliceblue;
}

div.relative {
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
    filter: sepia(80%);
    top: 50px;
  }

.bioImg {
    float: left
}

/* Style the buttons */
.myBtnContainer {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.homeBar {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn {
    height: 40px;
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
}
  
.btn:hover {
    background-color: #ddd;
}
  
.btn.active {
    background-color: #666;
    color: white;
}

.lbtn {
    height: 40px;
    width: 200px;
    border: none;
    outline: none;
    padding: 12px 20px;
    background-color: #f1f1f1;
    cursor: pointer;
}
  
.lbtn:hover {
    background-color: #ddd;
}
  
.lbtn.active {
    background-color: #666;
    color: white;
}

.gallery {
    margin: 50px 50px 50px 50px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: aliceblue;
}

.gallery img {
    transition: 0.1s;
    background-color: rgb(26, 16, 2);
    padding: 15px;
    width:200px;
}

.gallery img:hover {
    filter: contrast(200%);
    transform: scale(1.1);
}